<footer id="fixed-footer" class="py-3 bg-dark text-white fixed-bottom w-100">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Kevin Patel", "https://kevinkp09.netlify.app"%></small>
  </div>
</footer>